@tailwind base;

@layer base {
	:root {
		color-scheme: light;
		--theme-bg: #fafafa;
		--theme-text: #22272a;
		--theme-accent: #2b5cff;
		--theme-accent-2: #111;
		--theme-quote: #923463;
		--theme-menu-bg: rgb(250 250 250 / 0.85);
	}

	:root.dark {
		color-scheme: dark;
		--theme-bg: #1d1f21;
		--theme-text: #c9cacc;
		--theme-accent: #4973FF;
		--theme-accent-2: #eee;
		--theme-quote: #ccffb6;
		--theme-menu-bg: rgb(29 31 33 / 0.85);
	}

	html {
		@apply h-full scroll-smooth border-t-2 border-textColor;
	}

	html body {
		@apply mx-auto flex h-full max-w-3xl flex-col bg-bgColor px-8 pt-16 font-mono text-sm font-normal text-textColor antialiased;
	}

	::-webkit-scrollbar {
		width: 8px;
	}

	::-webkit-scrollbar-thumb {
		background-color: var(--theme-text);
		border-radius: 20px;
	}

	::-webkit-scrollbar-track {
		background-color: var(--theme-bg);
		border-radius: 20px;
	}

	.link {
		@apply underline decoration-2 underline-offset-2 hover:decoration-accent
	}
}

@tailwind components;
@tailwind utilities;