---
import RootLayout from "@/layouts/RootLayout";
---

<RootLayout meta={{ title: "About" }}>
	<div>
		<h1 class="text-3xl font-semibold mb-6">About</h1>
		<p>
			Alireza is a self-taught Junior <strong>TypeScript</strong> Wiz 🧙‍♂️, <strong
				><a
					target="_blank"
					href="https://www.onthisday.com/date/1995/december/28"
					class="cursor-pointer hover:text-accent">born on 28 dec 1995</a
				></strong
			> and currently residing in
			<strong
				><a
					target="_blank"
					href="https://en.wikipedia.org/wiki/Tehran"
					class="cursor-pointer hover:text-accent">Tehran📍</a
				></strong
			>. the apprentice of
			<strong>Frontend</strong> enchantment, spends most of his time crafting captivating user
			experiences with his TypeScript and react sorcery. But even in the realm of frontend magic,
			the occasional call of Backend wizardry beckons, leading him into a bewitching world of <strong
				>server-side</strong
			>
			sorcery and <strong>database</strong>
			enchantments. And when the workday spell is broken, you can find him conjuring cozy <strong
			>
				movie 🎬</strong
			> marathons, seamlessly transitioning from code wizard to entertainment sorcerer!
		</p>
		<h3 class="mt-10 mb-2 text-xl font-semibold">Key Strength:</h3>
		<ul class="list-disc space-y-2">
			<li>
				<strong>Adaptability:</strong> Being a quick learner, I embrace change with ease, adapting
				to new technologies and methodologies to meet evolving project requirements.
			</li>
			<li>
				<strong>Team Player:</strong> I thrive in team environments, valuing diverse perspectives,
				and actively contributing to team success through collaboration and cooperation.
			</li>
			<li>
				<strong>Resilience:</strong> In the face of challenges, I maintain a positive attitude
				and persevere to achieve goals, fostering a resilient and determined work ethic.
			</li>
			<li>
				<strong>Continuous Learning:</strong> I am committed to self-improvement and professional
				growth, staying updated with industry trends and best practices.
			</li>
		</ul>
	</div>
</RootLayout>
