---
import RootLayout from "@/layouts/RootLayout";
---

<RootLayout>
	<div>
		<h1 class="text-3xl font-semibold mb-6">About</h1>
		<p>
			I'm Alireza, Junior TypeScript enthusiast, <strong
				><a
					target="_blank"
					href="https://www.onthisday.com/date/1995/december/28"
					class="cursor-pointer hover:text-accent">born on 28 dec 1995</a
				></strong
			> and currently residing in
			<strong
				><a
					target="_blank"
					href="https://en.wikipedia.org/wiki/Tehran"
					class="cursor-pointer hover:text-accent">Tehran</a
				></strong
			>. My focus lies in <strong>Frontend</strong> development, where I utilize TypeScript and
			Frontend libraries to craft captivating user experiences. Though my heart lies in Frontend,
			I'm equally drawn to the realm of Backend development. I have gained
			<strong>valuable experience in Backend</strong> concepts, allowing me to establish better
			communication between the two ends.
		</p>
		<h3 class="mt-10 mb-2 text-xl font-semibold">Key Strength:</h3>
		<ul class="list-disc space-y-2">
			<li>
				<strong>Adaptability:</strong> Being a quick learner, I embrace change with ease, adapting
				to new technologies and methodologies to meet evolving project requirements.
			</li>
			<li>
				<strong>Team Player:</strong> I thrive in team environments, valuing diverse perspectives,
				and actively contributing to team success through collaboration and cooperation.
			</li>
			<li>
				<strong>Resilience:</strong> In the face of challenges, I maintain a positive attitude
				and persevere to achieve goals, fostering a resilient and determined work ethic.
			</li>
			<li>
				<strong>Continuous Learning:</strong> I am committed to self-improvement and professional
				growth, staying updated with industry trends and best practices.
			</li>
		</ul>
	</div>
</RootLayout>
