---
import Introduction from "@/components/Introduction";
import RootLayout from "../layouts/RootLayout.astro";
import { getCollection } from "astro:content";
import PostPreview from "@/components/PostPreview";
import { sortPostsByDate } from '../utils/helpers'
import { HOME_MAX_POST } from '../utils/constant'

const allPosts = await getCollection("post")
const sortedPosts = sortPostsByDate(allPosts).slice(0, HOME_MAX_POST)
---

<RootLayout>
	<section>
	<Introduction />
	</section>
	<section aria-label="Blog post list" class="mt-16 pb-12">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				sortedPosts.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</RootLayout>
