---
import Introduction from "@/components/intro/Introduction";
import RootLayout from "@/layouts/RootLayout";
import { getCollection } from "astro:content";
import PostPreview from "@/components/PostPreview";
import { sortPostsByDate } from "@/utils/helpers";
import { HOME_MAX_POST } from "@/utils/constant";
import ProfilePic from "@/components/intro/ProfilePic";
import Projects from "@/components/Projects";
import Skills from "@/components/Skills";
import { SKILLS, LESS_FAMILIAR } from '@/utils/constant'

const allPosts = await getCollection("post");
const sortedPosts = sortPostsByDate(allPosts).slice(0, HOME_MAX_POST);
---

<RootLayout meta={{ title: "Home" }}>
	<section>
		<div
			class="flex flex-col-reverse md:justify-between md:items-center gap-8 md:gap-4 md:flex-row"
		>
			<Introduction />
			<ProfilePic />
		</div>
	</section>
	<section aria-label="Blog post list" class="mt-16 pb-12">
		<div>
			<h2 class="title mb-4 text-xl">Posts</h2>
			<ul class="space-y-4 sm:space-y-2">
				{
					sortedPosts.map((p) => (
						<li class="flex flex-col gap-x-2 sm:flex-row">
							<PostPreview post={p} />
						</li>
					))
				}
			</ul>
		</div>
	</section>
	<section class="mt-2 max-w-2xl divide-y-2 divide-accent">
		<Skills title="skills" skills={SKILLS} />
		<Skills title="less-familiar" skills={LESS_FAMILIAR} />
	</section>
	<section class="mt-10 pb-12">
		<Projects />
	</section>
</RootLayout>
