---
import { projects } from "@/utils/constant";
import ProjectPreview from "./ProjectPreview.astro";

---
<h2 class="title mb-4 text-xl">Projects</h2>
<div class="flex px-2 flex-col gap-4 overflow-x-hidden">
	{projects.map((project) => <ProjectPreview project={project} />)}
</div>