---
interface Props {
	lang: string;
}
const { lang } = Astro.props;
---

<div id="wrapper" class="bg-[#161821] mt-4 rounded">
	<div class="flex justify-between items-center px-4 h-8">
		<p class="text-base">{lang}</p>
		<button id="cb">Copy</button>
	</div>
	<slot />
</div>

<script>
	document.documentElement.addEventListener("click", (e) => {
		const target = e.target as HTMLButtonElement;
		if (target && target.nodeName == "BUTTON" && target.id === "cb") {
			const parent = target.parentElement;
			if (parent) {
				const codeEl = parent.nextElementSibling?.firstChild?.textContent;
				if (codeEl) {
					const blob = new Blob([codeEl], { type: "text/plain" });
					const copy = new ClipboardItem({ "text/plain": blob });
					navigator.clipboard.write([copy]).then(() => {
                        const customEvent = new CustomEvent('open-toast')
                        document.documentElement.dispatchEvent(customEvent)
                    })

				}
			}
		}
	});

</script>
