---
interface Props {
	skill: string;
    last: boolean
}

const { skill, last } = Astro.props;
---

<li class="list-none text-gray-500 dark:text-gray-400 hover:text-accent cursor-pointer">
	{skill}{!last && ","}
</li>
