---
import Skill from "./skill.astro";
const SKILLS = [
	"typescript",
	"react",
	"nextjs",
	"Astro",
	"tailwind",
	"redux",
	"zustand",
	"react-query",
];

const LESS_FAMILIAR = [
	"nodejs",
	"express",
	"nestjs",
	"postgresql",
	"prisma",
	"drizzle",
	"mongoose",
	"pwa",
	"jest",
	"vitest",
];
---

<div class="flex flex-wrap gap-1 border-b pb-2 border-accent">
	<h5 class="font-bold">Skills:</h5>
	{
		SKILLS.map((skill, idx) => {
			const isLast = SKILLS.length - 1 === idx;
			return <Skill skill={skill} last={isLast} />;
		})
	}
</div>
<div class="mt-2 flex flex-wrap gap-1">
	<h5 class="font-bold break-normal">Less familiar:</h5>
	{
		LESS_FAMILIAR.map((skill, idx) => {
			const isLast = LESS_FAMILIAR.length - 1 === idx;
			return <Skill skill={skill} last={isLast} />;
		})
	}
</div>
