---
import Skill from "./skill.astro";
interface Props {
	skills: string[],
	title: string
}

const { skills, title } = Astro.props

---

<ul class=" flex flex-wrap gap-1 py-2">
	<p class="font-bold">{title}:</h5>
	{
		skills.map((skill, idx) => {
			const isLast = skills.length - 1 === idx;
			return <Skill skill={skill} last={isLast} />;
		})
	}
</ul>
