---
import { Image } from "astro:assets";
import myProfile from "../../assets/pp.jpg";
---

<div class="mx-auto md:m-0 relative group">
	<Image
		id="profile"
		loading={"eager"}
		quality={"high"}
		src={myProfile}
		alt="profile pic"
		class="object-cover rounded-[60%_40%_30%_70%/60%_30%_70%_40%] object-top grayscale duration-[2000ms] aspect-square transition-all border-[3px] border-textColor dark:border-gray-400"
	/>
</div>

<style></style>
<script>
	import { wait } from "@/utils/helpers";

	document.addEventListener("astro:page-load", () => {
		const profilePic = document.getElementById("profile");

		let firstTime = true;
		if (profilePic) {
			document.documentElement.addEventListener("show-stars", async () => {
				// wait for two second that border radius get back to its first postions
				// two second because when we add animation class suddenly it does not jump back
				// - to keyframe 0 position and does it smoothly
				// first time is for when we add animation for the first time it does not need
				// to wait for two second
				if (!profilePic.classList.contains("animate-morph") && !firstTime) {
					profilePic.style.removeProperty("border-radius");
					await wait(2);
				}
				firstTime = false;
				const borderRadius = window.getComputedStyle(profilePic).borderRadius;
				profilePic.style.borderRadius = borderRadius;
				profilePic.classList.toggle("animate-morph");
			});
		}
	});
</script>
