---
import Header from "@/components/layout/Header";
import "../styles/base.css";
import ThemeProvider from "@/components/ThemeProvider";
import Footer from "@/components/layout/Footer";
import Toast from "@/components/Toast";
import BaseMeta from "@/components/layout/BaseMeta";
import type { siteMeta } from "src/types";
import { SITE_DESCRIPTION } from "@/utils/constant";
import { ViewTransitions } from 'astro:transitions'

interface Props {
	meta: siteMeta;
}

const {
	meta: { title, description = SITE_DESCRIPTION, ogImage },
} = Astro.props;
---

<html lang="en">
	<head>
		<BaseMeta title={title} description={description} ogImage={ogImage} />
		<script
			type="module"/analysis/https-alirezasoh-vercel-app/8mlf4lpgwq?form_factor=mobile
			src="https://unpkg.com/@dotlottie/player-component@2.3.0/dist/dotlottie-player.mjs"
			async></script>
			<ViewTransitions />
		<title>Astro</title>
	</head>
	<body class="overflow-x-hidden">
		<Toast />
		<dotlottie-player
			src="/star.lottie"
			speed="1"
			loop="false"
			id="stars"
			class="bg-transparent top-0 bottom-0 left-0 right-0 -z-10 absolute"
			direction="1"
			mode="normal"></dotlottie-player>
		<div id="stars"></div>
		<ThemeProvider />
		<Header />
		<slot />
		<Footer />
		<script>
			// import "@dotlottie/player-component"

			const animation = document.getElementById("stars") as HTMLVideoElement & {
				stop: () => void;
			};
			if (animation) {
				document.documentElement.addEventListener("show-stars", () => {
					animation.stop();
					animation.play();
				});
			}
		</script>
	</body>
</html>
