---
import Header from "@/components/layout/Header";
import "../styles/base.css";
import ThemeProvider from "@/components/ThemeProvider";
import Footer from "@/components/layout/Footer";
import Toast from "@/components/Toast";
import BaseMeta from "@/components/layout/BaseMeta";
import type { siteMeta } from "src/types";
import { SITE_DESCRIPTION } from "@/utils/constant";
import { ViewTransitions } from "astro:transitions";

interface Props {
	meta: siteMeta;
}

const {
	meta: { title, description = SITE_DESCRIPTION, ogImage },
} = Astro.props;
---

<html lang="en">
	<head>
		<BaseMeta title={title} description={description} ogImage={ogImage} />
		<!-- <script defer src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script> -->
		<script type="module" defer src="https://unpkg.com/@dotlottie/player-component@2.3.0/dist/dotlottie-player.mjs" ></script>
		<ViewTransitions />
		<title>Astro</title>
	</head>
	<body class="overflow-x-hidden">
		<Toast />
		<!-- <lottie-player
			src="https://lottie.host/9d0cc11e-590b-416f-a8be-660dad454552/r64OBy1U64.json"
			speed="1"
			loop="false"
			id="stars"
			class="bg-transparent top-0 bottom-0 left-0 right-0 -z-10 absolute"
			direction="1"
			mode="normal"></lottie-player> -->
			<dotlottie-player
			src="https://lottie.host/09853b66-b805-45ed-be20-4921385c8b9c/jg8l0RNpJ2.lottie"
			speed="1"
			loop="false"
			id="stars"
			class="bg-transparent top-0 bottom-0 left-0 right-0 -z-10 absolute"
			direction="1"
			mode="normal"></dotlottie-player>
		<ThemeProvider />
		<Header />
		<slot />
		<Footer />
		<script>
			const animation = document.getElementById("stars") as HTMLVideoElement & {
				stop: () => void;
			};
			if (animation) {
				document.documentElement.addEventListener("show-stars", () => {
					animation.stop();
					animation.play();
				});
			}
		</script>
	</body>
</html>
